body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-raleway: Raleway;
  --font-ravi-prakash: "Ravi Prakash";
  --font-poppins: Poppins;
  --font-open-sans: "Open Sans";
  --nav-text: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --nav-text-size: 17px;

  /* Colors */
  --color-oldlace: #f9f2e2;
  --color-black: #000;
  --color-gray-100: #0c0b0b;
  --system-materials-sm-l-thick: rgba(250, 250, 250, 0.93);
  --color-goldenrod: #ffbd59;
  --color-white: #fff;

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-31xl: 50px;
  --br-29xl: 48px;
}
